.app{
    width:100%;
    height:100%;
    color:white;
}



#navbar{
    height:70px;
    width:100%;
    display:flex;
    flex-direction:row;
    color:black;
}
#heading{
    margin:13px;
}
#submitText{
    margin:15px;
    width:80%;
    height:40px;
    
    border:1px solid black;
    border-radius:20px;
}
#submitOption{
    margin: 14px;;
    width:50px;
    height:50px;
    border-radius:50%;
    border:1px solid white;
    cursor:pointer;
}
#submitOption img{
    width:18px;
}

.weather{
    
    width:60%;
    height:80%px;
    margin-left:20%;
    display : flex;
    flex-direction: column;
    align-items: center;
    border:2px solid white;
    border-radius:30px;
    
}
.weather img{
    
    width:300px;
    height:300px;
    
}
.humidity img{
    height:30px;
    width:30px;
}
.humidity p{
    font-size:larger;
}
.humidity{
    width:200px;

}

.Wind img{
    height:30px;
    width:30px;
}
.Wind p{
    font-size:larger
}
.details{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.weather_detail{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
body{
    background-image:url(weather.jpg);
    background-size:cover;
}
.weather_col{
    display:flex;
    flex-direction: column;
    justify-content:first baseline;
}
.temp{
    font-weight: bolder;
}
  
