html,body,#root{
  height: 100%;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex:1;
}


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0e4d7; /* Light beige background for overall page */
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #8b0000; /* Dark red for headings */
}

a {
  color: #8b0000; /* Dark red for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}
