<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Product List</h1>
    <form action="/" method="POST">
        <input type="text" name="product" placeholder="Add a new product" required>
        <button type="submit">Add</button>
    </form>
    <ul>
        <% products.forEach(function(product) { %>
            <li><%= product %></li>
        <% }) %>
    </ul>


    
        <ul>
        <li>

            <h1 style="width:50%">Products You may Like:</h1>

        </li>
        
     </ul>
        <div class="suggestion">
          
            <h4 id="kurti">Half Kurti</h4>
            <h4 id="lehenga">Lehenga</h4>
       
            <h4 id="hoodie">Hoodie</h4>
           
       
           
        


       
        


    </div>
</body>
</html>
